<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.lotteon.mapper.MyinfoMapper">

    <select id="myinfoList" resultType="kr.co.lotteon.dto.MemberDTO">
        select * from lo_member where uid = #{uid};
    </select>

    <update id="myinfoModify">
        update lo_member set email = #{email} , hp = #{hp}, zip=#{zip}, addr1 = #{addr1}, addr2 = #{addr2}
        where uid = #{uid};
    </update>

    <select id="passCheck">
        select pass from lo_member where uid = #{uid};
    </select>

    <update id="passUpdate">
        update lo_member set pass = #{pass} where uid = #{uid};
    </update>

</mapper>