<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.lotteon.mapper.ProductMapper2">


    <!--<select id="selectQnaAndCate3" resultType="kr.co.lotteon.dto.cs.CsArticleQnaDTO">
        select * from `lo_cs_article_qna` as a inner join `lo_cs_cate3` as b on a.`type` = b.`cate3` where a.`useyn`='Y' AND a.`parent`=0;
    </select>-->



    <select id="selectProduct" resultType="kr.co.lotteon.dto.product.ProductDTO">
        select * from `lo_product` where `prodNo` = #{prodNo};
    </select>


</mapper>