<th:block th:insert="~{/my/layout/header.html}"/>
<script>
    $(document).ready(function() {
        // "status" 클래스를 가진 모든 셀을 찾아서 처리
        $('.answered').each(function() {
            // 현재 셀의 텍스트 가져오기
            var text = $(this).text();

            // 텍스트에 따라 스타일 변경
            if (text === '검토중') {
                $(this).css('color','black');
            } else if (text === '답변완료') {
                $(this).css('color','green');
            }
        });
    });


</script>

            <div class="qna">
                <th:block th:insert="~{/my/layout/aside.html}"/>
                    <article>
                        <h3>문의하기</h3>
                        <p>
                            <a th:href="@{/cs/list(cate1=qna,cate2=member)}">더보기</a>
                        </p>

                        <table border="0">
                            <tr>
                                <th>번호</th>
                                <th>문의채널</th>
                                <th>문의유형</th>                                
                                <th>제목</th>
                                <th>작성일</th>
                                <th>상태</th>
                            </tr>
                            <th:block th:each="qnaArticle,loop : ${entityList1}">
                            <tr>
                                <td class="no" th:text="${loop.index+1}" ></td>
                                <th:block th:if="${qnaArticle.cate1 == qna}">
                                    <td class="channel" >고객센터</td>
                                </th:block>
                                <th:block th:if="${qnaArticle.cate1 != qna}">
                                    <td class="channel" >판매자게시판</td>
                                </th:block>
                                <th:block th:each="csCate3 :${entityList2}">
                                    <td th:if="${csCate3.cate3 == qnaArticle.type}" class="type" th:text="${csCate3.detail}">주문/결제</td>
                                </th:block>
                                <td class="tit"><a href="#" th:text="${qnaArticle.title}"></a></td>
                                <td class="date" th:text="${qnaArticle.rdate.toLocalDate()}"></td>
                                <td class="status">
                                    <th:block th:if="${qnaArticle.comment ==1}">
                                    <span class="answered">답변완료</span>
                                    </th:block>
                                    <th:block th:if="${qnaArticle.comment ==0}">
                                        <span class="answered">검토중</span>
                                    </th:block>
                                </td>
                            </tr>
                            <tr class="answerRow">
                                <td colspan="6">
                                    <div class="question">
                                        <p class="tit">
                                            신용카드 결제 중 오류가 난 경우 어떻게 하나요?
                                            <span class="date">2022-12-16 10:08:25</span>
                                        </p>
                                        <p class="content">
                                            결제하다가 오류가 나서 결제가 안됩니다.
                                        </p>
                                    </div>
                                    <div class="answer">
                                        <p class="tit">
                                            주문/결제 문의 답변입니다.
                                            <span class="date">2022-12-17 10:08:25</span>
                                        </p>
                                        <p class="content">
                                            다른 카드로 결제 하세요. 그러면 될거에요.
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            </th:block>


                        </table>
                    <div class="paging">
                    <span class="prev" th:if="${pageGroupStart > 1}">
                        <a th:href="@{/my/qna(writer=${#authentication.principal.member.uid},pg=${pageGroupStart - 1})}">이전</a>
                    </span>
                            <span class="num" th:each="num: ${#numbers.sequence(pageGroupStart, pageGroupEnd)}">
                                <a th:href="@{/my/qna(writer=${#authentication.principal.member.uid},pg=${num})}" th:classappend="${num eq currentPage ? 'on' : ''}">[[${num}]]</a>
                            </span>
                    <span class="next" th:if="${pageGroupEnd < lastPageNum}">
                        <a th:href="@{/my/qna(writer=${#authentication.principal.member.uid},pg=${pageGroupEnd + 1})}">다음></a>
                    </span>
                    </div>
                    </article>

                <article class="myinfo">
                    <h3>나의설정</h3>

                    <div>
                        <div class="address">
                            <span>기본 배송지설정</span>
                            <a href="#" class="setting">변경</a>
                            <p>
                                <span th:text="${'우편번호 : '+member.zip}">abc123@gmail.com</span><br/>
                                <span th:text="${'상세주소 :'+member.addr1 +' '+member.addr2}">abc123@gmail.com</span><br/>
                                (최종수정일 <span th:text="${member.rdate.toLocalDate()}">2021-12-10</span>)
                            </p>

                        </div>
                        <div class="email">
                            <span>email 설정</span>
                            <a href="#" class="setting">변경</a>
                            <p>
                                <span th:text="${member.email}">abc123@gmail.com</span><br/>
                                (최종수정일 <span th:text="${member.rdate.toLocalDate()}">2021-12-10</span>)
                            </p>
                        </div>
                        <div class="hp">
                            <span>휴대폰 설정</span>
                            <a href="#" class="setting">변경</a>
                            <p>
                                <span th:text="${member.hp}">abc123@gmail.com</span><br/>
                                (최종수정일 <span th:text="${member.rdate.toLocalDate()}">2021-12-10</span>)
                            </p>
                        </div>
                    </div>

                </article>
                </section>

            </div>
        </div>
<th:block th:insert="~{/my/layout/footer.html}"/>